.footer {
  background-color: #f4faff;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px 0px;
  font-family: "Inter", sans-serif;

  a {
    color: #0050ff;
    font-size: 0.8rem;
    text-decoration: underline;
    margin-left: 5px;
  }

  @media (max-width: 400px) {
    padding-bottom: 12px;
    padding-top: -5px;
    flex-direction: column;

    h3 {
      margin: 2px auto 0px auto;
    }
  }
}

.footer_font {
  font-size: 0.8rem;
  margin: 8px auto 10px auto;
  color: #000;
}
