.footer {
  background-color: rgb(238, 244, 254);
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px 0px;
  font-family: "IBM Plex Sans", sans-serif;

  a {
    color: #0000ff;
    font-size: 16px;
    text-decoration: underline;
  }

  @media (max-width: 400px) {
    padding-bottom: 15px;
    padding-top: -5px;
    flex-direction: column;

    h3 {
      margin: 2px auto 0px auto;
    }
  }
}

.footer_font {
  font-size: 14px;
  margin: 8px auto 10px auto;
  color: #000;
}
