.loader {
  max-width: 100%;
}
.loader_laptop {
  display: none;
}

@media (max-width: 600px) {
  .loader {
    max-width: 94%;
  }
  .loader_laptop {
    display: block;
  }
  .loader_mobile {
    display: none;
  }
}
