.email_con {
  background-color: #e1ebff;
  max-width: 100%;
  margin: 0px auto 30px;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 15px 15px;
  text-align: center;

  p {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #000;

    @media (max-width: 600px) {
      font-size: 1.1rem;
    }
  }
}
.email_input {
  margin-bottom: 8px;
  width: 100%;
  box-shadow: 0px 6px 22px 0px rgba(221, 230, 237, 0.4);
  border: 1px solid #e3e3e3;
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 6px;

  &:focus {
    outline: none;
    border: 1px solid #0068ff;
  }

  @media (max-width: 768px) {
    font-size: 14px;
    width: 93%;
    padding: 10px;
  }
}

.email_btn {
  width: 100%;
  font-weight: 600;
  background-color: #048eff;
  border: 1px solid #0068ff;
  font-size: 16px;
  padding: 12px;
  border-radius: 6px;
  color: #fff;
  box-shadow: 0px 16px 32px 0px rgba(221, 230, 237, 0.4);
  cursor: pointer;
  margin-top: 12px;

  &:hover {
    background-color: #00a088;
    border: 1px solid #00a088;
  }

  @media (max-width: 768px) {
    width: 93%;
    margin: 10px 0px;
  }
}

.error_msg {
  font-family: "Poppins", sans-serif;
  color: #eb5757;
}
.thank {
  font-size: 1.7rem;
}
