.jobcard_con {
  display: grid;
  grid-template-columns: 15% 85%;

  background-color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(79, 114, 205, 0.15);
  padding: 20px 15px 20px 0px;
  cursor: pointer;
  // margin: 22px auto;

  text-align: left;
  font-family: poppins, Helvetica, sans-serif;

  border-radius: 0.75rem;
  // border: 1px solid rgba(218, 223, 231, 1);
  border: 1px solid rgba(5, 6, 15, 0.06);

  button {
    display: none;
  }

  &:hover {
    border: 1px solid #111;

    button {
      display: block;
    }
  }

  @media (max-width: 600px) {
    grid-template-columns: 20% 80%;
    padding: 12px 10px;
    margin: 0px auto 0px;
    border-radius: 16px;
    box-shadow: none;

    &:hover {
      button {
        display: none;
      }
    }
  }
}

.companylogo_con {
  align-self: start;
  justify-self: center;

  grid-column: 1;
  grid-row: 1/3;

  img {
    width: 50px;
    place-self: center;
    border-radius: 50px;
    margin-top: 5px;
  }

  @media (max-width: 600px) {
    width: 40px;
    place-self: center;
    grid-column: 1;
    grid-row: 1;

    img {
      width: 33px;
    }
  }
}

.logotext {
  background-color: #207dff;
  width: 37px;
  height: 37px;
  margin: 0px auto;
  border-radius: 50px;

  display: flex;
  align-self: center;
  justify-self: center;
  color: #fff;
  text-align: center;

  p {
    margin: 0px auto;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.jobtitle {
  grid-column: 2/6;
  grid-row: 1;

  font-size: 1.3rem;
  line-height: 1.875rem;
  // color: #161e2e;
  color: #05060f;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: normal;
  margin: 0px 0px 12px;

  @media (max-width: 600px) {
    font-size: 1.06rem;
    line-height: 1.4rem;
    margin: 0px 0px 12px 2px;
  }
}

.jobdetails {
  grid-column: 2/6;
  grid-row: 2;

  @media (max-width: 600px) {
    grid-column: 1/6;
    grid-row: 2;
  }
}

.jobdetails_item {
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;
  margin: 0px 0px 2px;
  line-height: 1.1rem;

  p {
    font-family: poppins, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #3f3a5a;
    font-weight: 400;

    @media (max-width: 600px) {
      font-size: 0.8rem;
    }
  }

  h5 {
    font-family: poppins, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: #121212;

    @media (max-width: 600px) {
      font-size: 0.7rem;
      justify-self: end;
    }
  }

  @media (max-width: 600px) {
    grid-template-columns: 18% 82%;
    gap: 10px;
    line-height: 1.08rem;
  }
}

.apply_btn {
  grid-column: 2;
  grid-row: 2;

  width: 120px;
  height: 40px;
  margin-right: 10px;

  align-self: end;
  justify-self: end;

  border-radius: 0.4rem;
  border: none;
  cursor: pointer;

  background-color: #0069ff;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.mobilejd_btn {
  display: none;

  @media (max-width: 600px) {
    display: block;
    grid-column: 5;
    grid-row: 2;
    cursor: pointer;
    align-self: end;
    justify-self: end;
    width: 20px;
  }
}
