.admin-grid {
  display: grid;
  grid-template-columns: 25% 75%;
}
.admin-label {
  justify-self: end;
  font-size: 1rem;
  margin-top: 8px;
}
.admin-input {
  padding: 10px;
  font-size: 1rem;
  width: 85%;
  margin: 0px 15px 18px;
  border-radius: 4px;
  border: none;
}

.ck-grid {
  display: grid;
  grid-template-columns: 25% 63.6%;
  gap: 15px;
  margin-bottom: 20px;
}

.addlink-data {
  background-color: #0000ff;
  border: none;
  color: #fff;
  width: 41%;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 1.2rem;
  border-radius: 4px;
}
.addlink-data:hover {
  background-color: #0c66ff;
  cursor: pointer;
}
