@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500;600;700;800&family=Noto+Sans:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");

/* font-family: 'IBM Plex Sans', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /*  background-color: rgb(238, 244, 254);  */
  background-color: #fff;
}

.App {
  text-align: center;
  /* font-family: poppins, Helvetica, sans-serif; */
  font-family: "Lato", sans-serif;
  /* background-color: #fcfcfc; */
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
a {
  text-decoration: none;
  color: #000;
}

.viewMobile {
  display: none;
}

@media (max-width: 600px) {
  body {
    background-color: rgba(5, 218, 186, 0) 100%;
  }
  .viewMobile {
    display: block;
  }
}
