.ebook-card {
  background-color: rgba(5, 217, 186, 0.1);
  padding: 20px 0px 5px;
  border-radius: 6px;
  max-width: 350px;
  margin: 0px auto;
}
.ebook-card .book-poster {
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}
.ebook-card .book2 {
  height: 194px;
  width: auto;
}
.ebook-card .title {
  background-color: #0088cc;
  padding: 9px;
  width: 300px;
  margin: 20px auto 15px;
  color: #ffff;
  border-radius: 6px;
  text-align: center;
  font-size: 1rem;
}
