@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500&display=swap");

.email {
  background-color: #fff;
  max-width: 100%;
  margin: 0px auto;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 15px 0px;
  text-align: center;
}
.email p {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000;
}
.email-input {
  margin-bottom: 8px;
  width: 93%;
  box-shadow: 0px 6px 22px 0px rgba(221, 230, 237, 0.4);
  border: 1px solid #e3e3e3;
  font-size: 16px;
  padding: 10px 12px;
  border-radius: 6px;
}
.email-input:focus {
  outline: none;
  border: 1px solid #0068ff;
}
.email-btn {
  width: 93%;
  font-weight: 600;
  background-color: #0068ff;
  border: 1px solid #0068ff;
  font-size: 16px;
  padding: 12px;
  border-radius: 6px;
  color: #fff;
  box-shadow: 0px 16px 32px 0px rgba(221, 230, 237, 0.4);
  cursor: pointer;
  margin-top: 12px;
}
.email-btn:hover {
  background-color: #00a088;
  border: 1px solid #00a088;
}
.error-msg {
  font-family: "Poppins", sans-serif;
  color: #eb5757;
}
.thank {
  font-size: 1.7rem;
}

.dropdown-icon {
  float: right;
  font-size: 0, 7rem;
}

@media screen and (max-width: 700px) {
  .email p {
    font-size: 1.1rem;
  }
  .email-input {
    font-size: 14px;
    width: 93%;
    padding: 10px;
  }
  .email-btn {
    width: 93%;
    margin: 10px 0px;
  }
}

/* 
.email-dropbtn {
  width: 93%;
  background-color: #fff;
  /* color: white; */
/* font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0px 6px 22px 0px rgba(221, 230, 237, 0.4);
  border: 2px solid #e3e3e3;
  font-size: 16px; */
/* padding: 14px; */
/* border-radius: 6px; */
/* } */

/* .dropdown {
  margin-top: 0px;
  width: 100%;
  position: relative;
} */

/* .dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 93%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
} */

/* .dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 0.5px solid #0068ff;
} */

/* .dropdown-content span:hover {
  background-color: #f0f0f0;
  border-bottom: 0.5px solid #181818;
  cursor: pointer;
} */

/* .dropdown:hover .dropdown-content {
  display: block;
} */

/* .dropdown:hover .email-dropbtn {
  border: 2px solid #0068ff;
}  */
