@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  height: 100vh;
  background-color: #fcfcfc;
  display: grid;
  grid-template-rows: 95% 5%;
  text-align: left;
}
.email {
  /* margin: 50px auto; */
  /* padding: 100px 90px; */
  max-width: 75%;
  place-self: center;
}

.email h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  display: block;
  margin: 0px auto 20px auto;
}

.email p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.email input {
  margin-top: 15px;
  background-color: #fff;
  width: 500px;
  box-shadow: 0px 16px 32px 0px rgba(221, 230, 237, 0.4);
  border: 2px solid #e3e3e3;
  font-size: 16px;
  padding: 16px;
  border-radius: 6px;
}
.email input:focus {
  outline: none;
  border: 2px solid #0068ff;
}
.email button {
  font-weight: 600;
  background-color: #0068ff;
  border: 2px solid #0068ff;
  font-size: 16px;
  padding: 16px;
  border-radius: 6px;
  color: #fff;
  box-shadow: 0px 16px 32px 0px rgba(221, 230, 237, 0.4);
  cursor: pointer;
  margin-left: 20px;
}
.email button:hover {
  background-color: #00a088;
  border: 2px solid #00a088;
}

.error-msg {
  font-family: "Poppins", sans-serif;
  color: #eb5757;
}

.thank {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
}
@media screen and (max-width: 700px) {
  .email {
    padding: 10px 10px;
    width: 95%;
    margin: 120px 0px;
  }
  .email p {
    margin-top: 30px;
    font-size: 15px;
  }
  .email h1 {
    font-size: 3rem;
  }
  .email input {
    width: 88%;
  }
  .email button {
    width: 98%;
    margin: 10px 0px;
  }
}
