@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
.header {
  display: flex;
  padding: 20px 70px 20px;
  box-shadow: 0px 0 20px -10px #888;
}

.header .logo {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
}
.header .logo span {
  font-weight: 700;
  color: #0000ff;
}

.header .btn {
  float: left;
  margin-right: 20px;
  background-color: rgb(238, 244, 254);
  padding: 8px 16px 8px;
  border-radius: 6px;
  box-shadow: 4px 4px 4px 0 rgb(41 128 185 / 15%);
  border: none;
  font-size: 1rem;
}
.header .btn:hover {
  color: #0000ff;
  cursor: pointer;
  box-shadow: 7px 7px 7px 0 rgb(41 128 185 / 15%);
}
.flex {
  justify-content: space-between;
}
.header .icon {
  width: 32px;
  height: 32px;
  margin-top: 3px;
  margin-left: 8px;
  align-self: flex-end;
}
.header .icon:hover {
  cursor: pointer;
}
.icons {
  align-self: flex-end;
}

/* for Mobile view  */
@media (max-width: 600px) {
  .header {
    padding: 20px 70px 10px;
    box-shadow: none;
  }
  .header .btn {
    display: none;
  }
  .flex {
    flex-direction: column;
  }
  .icons {
    align-self: center;
    margin-top: 10px;
  }
  .header .logo {
    width: 180px;
  }
}
