.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.container {
  background-color: #fff;
  text-align: left;

  box-shadow: 0px 4px 20px 0px rgba(79, 114, 205, 0.15);
  padding: 15px 14px 15px 0px;
  max-width: 80%;
  min-height: 80px;
  margin: 30px auto;

  border-radius: 8px;
  font-family: "IBM Plex Sans", sans-serif;
  border: 1px solid #fff;
  cursor: default;
}

.company-logo-con {
  align-self: center;
  justify-self: center;

  grid-column: 1;
  grid-row: 1/4;
}
.company-logo-con img {
  width: 52px;
  place-self: center;
}

.job-title {
  grid-column: 2/6;
  grid-row: 1;

  font-size: 1.5rem;
  color: #130b43;
  align-self: center;
  text-align: left;
  font-weight: 600;
  margin: 8px 0px 12px;
}

.details {
  grid-column: 2/6;
  grid-row: 2;
}
.detail-item {
  display: grid;
  grid-template-columns: 15% 85%;
  gap: 10px;
  align-items: center;
}
.detail-item p {
  font-family: poppins, Helvetica, sans-serif;
  margin: 0px;
  align-self: start;
  font-size: 0.9rem;
  color: #3f3a5a;
  font-weight: 400;
}
.detail-item h5 {
  font-family: poppins, Helvetica, sans-serif;
  font-weight: 500;
  align-self: start;
  margin: 0px;
  font-size: 0.9rem;
  color: #121212;
}
.m-details {
  display: none;
}
.view-jd-btn {
  grid-column: 5;
  grid-row: 3;
  color: #ffffff;
  background-color: #604fcd;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 6px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.inv {
  margin: 30px auto;
  display: none;
}
.code {
  color: #0000ff;
}
.m-view,
.m-jd-btn {
  display: none;
}

/* For mobile devices */
@media (max-width: 600px) {
  .container {
    margin: 19px auto;
    max-width: 93%;
    padding: 12px 10px 12px 10px;
  }
  .company-logo-con {
    width: 40px;
    place-self: center;
    grid-column: 1;
    grid-row: 1;
  }
  .company-logo-con img {
    width: 33px;
  }
  .job-title {
    font-size: 1.1rem;
    margin: 0px 0px 12px;
  }
  .detail-item {
    grid-template-columns: 18% 82%;
    gap: 8px;
  }
  .details {
    grid-column: 1/6;
    grid-row: 2;
  }
  .detail-item p {
    font-size: 0.75rem;
  }
  .detail-item h5 {
    font-size: 0.75rem;
    justify-self: end;
  }
  .view-jd-btn {
    display: none;
  }
  .m-jd-btn {
    display: block;
    grid-column: 5;
    grid-row: 2;
    cursor: pointer;
    align-self: end;
    justify-self: end;
    width: 20px;
  }

  .inv {
    margin: 10px auto;
    display: block;
  }
  .m-view {
    display: block;
  }
  .m-details {
    display: block;
  }
}
