.telegram,
.instagram,
.linkedin {
  padding: 10px 8px;
  background-color: #0088cc;
  border-radius: 6px;
  width: 330px;
  height: auto;
  margin-bottom: 12px;
  text-align: left;
}
.instagram {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  color: #000;
}

.linkedin {
  background-color: #0e76a8;
}

.icon {
  width: 32px;
  place-self: center;
}
.grid-t {
  display: grid;
  grid-template-columns: 20% 70%;
  color: #fff;
  gap: 10px;
}
h4 {
  font-weight: 400;
  align-self: center;
}
.grid-t:hover {
  cursor: pointer;
}
.telegram h4 {
  line-height: 1.3rem;
  font-size: 1.02rem;
  font-weight: 500;
}
@media (max-width: 600px) {
  .telegram,
  .instagram,
  .linkedin {
    margin: 0px auto 12px;
  }
}
