.ad_container {
  font-family: "Inter", sans-serif;
  // background-color: #002C9B;
  background-color: #0050ff;
  color: #fff;

  padding: 15px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: #0066ff;
  }

  @media screen and (max-width: 700px) {
    // background-color: #604fcd;
    background-color: #0066ff;
    border: 1px solid #0050ff;

    color: #fff;
    font-size: 1.05rem;
    font-weight: 700;
    padding: 14px 12px;
    margin-bottom: 13px;
    line-height: 1.5rem;
    text-align: left;
  }
}

.ad-container .title-mobile {
  margin-top: 100px;
}
