.linda_con{
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 20px;

    border: 1px solid rgba(218, 223, 231, 1);
    border-radius: 10px;

    text-align: left;


    p{
        font-size: 1.2rem;
        font-family: poppins, Helvetica, sans-serif;
        font-weight: 600;
    }
}

.da_item{
    background-color: #e1ebff;
    margin-top: 20px;
    padding: 10px 12px;
    border-radius: 6px;

    a{
        font-size: 1.1rem;

        &:hover {
            color: #0069ff;
        }
    }

    img{
        width: 30px;
    }
}

.linkedin_con{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    margin-bottom: 0px;
    column-gap: 5px;

    p{
        font-size: 1.1rem;
    }
}