.adminpanel_header {
  background-color: #2e57e8;
  padding: 10px 60px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h4 {
    color: #e1ebff;
  }

  h1 {
    color: #fff;
  }
}



/*  */
/* Main Admin panel page */
.adminpanel-title {
  margin: 0px 0px 20px;
  color: #0000ff;
}

.adminpanel_grid {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 85vh;
}

.adminpanel_nav {
  display: flex;
  flex-direction: column;
}

.adminpanel_nav_btn {
  text-align: left;
  color: #000;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #121212;
  background-color: #fcfcfc;
  border-top: none;
  &:hover {
    background-color: #5a7dfd;
    color: #fff;
  }
}

.adminpanel_home {
  background-color: #e1ebff;
  padding: 20px 10px;
}
