.notice_con {
    width: 92%;
    max-width: 1280px;
    margin: 0px auto 50px;
    padding: 30px 40px;
    background-color: #f4faff;
    border-radius: 15px;

    p {
        line-height: 1.4rem;
    }

    @media screen and (max-width: 600px) {
        width: 92%;
        padding: 15px;
        text-align: left;
        margin-bottom: 20px;
        p {
            font-size: 0.8rem;
            line-height: 1.1rem;
        }
        h1 {
            font-size: 1.4rem;
        }
    }
}
.notice_title {
    margin-bottom: 10px;
}
