.filter {
  text-align: left;
  max-width: 85%;
  margin: 0px auto 30px;

  @media (max-width: 600px) {
    max-width: 96%;
    margin: 0px auto 10px;
  }
}

.search_mobile_flex {
  @media (max-width: 600px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.dropdown {
  display: inline-block;
  position: relative;
}

.icon {
  margin-left: 5px;
}

.filter_text {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  font-size: 18px;
  @media (max-width: 600px) {
    display: none;
  }
}

.dropdown_item {
  padding: 15px;
}
h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  @media (max-width: 600px) {
    font-size: 13px;
  }
}

.dropdown_btn {
  min-width: 160px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 6px;
  padding: 10px 30px 10px 30px;
  background-color: #e1ebff;
  cursor: pointer;
  margin-right: 25px;
  // color: #2e57e8;
  color: #3d3d3d;
  border: none;
  margin-bottom: 15px;

  &:hover {
    //   background-color: rgb(238, 244, 254);
    background-color: #c1d2f6;
    color: #121212;
  }

  @media (max-width: 600px) {
    min-width: 90px;
    padding: 10px 12px;
    margin-right: 5px;
    font-size: 15px;
  }
}

.telgram_con_mobile {
  width: 92%;
  margin: 0px auto;
  display: none;

  @media (max-width: 600px) {
    display: block;
  }
}

h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  color: red;
}
@mixin searchtheme() {
  height: 50px;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 10px;
  // border: 1px solid #0000ff;
  border-right: none;
  color: #0000ff;
  background-color: #fff;
  border: none;
  // background-color: #e1ebff;
  box-shadow: 0px 4px 5px 0px rgba(79, 114, 205, 0.15);

  @media (max-width: 600px) {
    padding: 12px 20px;
    font-size: 16px;
    height: 45px;
    margin: 0px 0px 15px;
  }
}

.search_con {
  width: 100%;
  display: grid;
  grid-template-columns: 85% 15%;
  margin: 0px auto;
  @media (max-width: 600px) {
    max-width: 95%;
    grid-template-columns: 80% 20%;
  }
}
.searchcompany {
  @include searchtheme();
  border-radius: 8px 0px 0px 8px;
  border-right: none;
  align-self: center;
  &:focus {
    outline: none;
    // border: 1.2px solid #000;
    // border-right: none;+
  }
}
.search_btn {
  @include searchtheme();
  align-self: center;
  border-radius: 0px 8px 8px 0px;

  cursor: pointer;
  // background-color: #e1ebff;
  // border: 1px solid #2557a7;
  border-left: none;

  &:hover {
    background-color: #cadbff;
  }

  @media (max-width: 768px) {
    background-color: #fff;
  }
}

.mobile_view {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}
