.filter {
  text-align: left;
  max-width: 100%;
  margin: 0px auto 30px;

  @media (max-width: 600px) {
    max-width: 100%;
    margin: 0px auto 0px;
    background-color: #e7edf9;

    border-radius: 0px 0px 10px 10px;
    padding: 25px 30px 0px;
  }
}

.m_tagline {
  display: none;

  @media (max-width: 768px) {
    display: block;

    font-weight: 600;
    font-size: 1.5rem;
    font-family: "Sora", sans-serif;

    line-height: 2.1rem;
    margin-bottom: 25px;
  }

  b {
    color: #0052cc;
  }
}

.search_mobile_flex {
  @media (max-width: 600px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.dropdown {
  display: inline-block;
  position: relative;
}

.filter_text {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  font-size: 1.2rem;
  @media (max-width: 600px) {
    display: none;
  }
}

// container holding all the filters
.dropdown_con {
  h2 {
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
    width: 150px;
    margin: 3px auto;

    @media (max-width: 600px) {
      font-size: 0.8rem;
    }
  }
}

.rc-dropdown-menu {
  box-shadow: none;
  border: 4px solid red !important;
}

.dropdown_item {
  padding: 15px;
}

// filter buttons
.dropdown_btn {
  min-width: 150px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;

  padding: 12px 30px;
  background-color: #e1ebff;

  cursor: pointer;
  margin-right: 25px;
  color: #3d3d3d;
  border: none;
  border-radius: 12px;

  margin-bottom: 22px;

  &:hover {
    background-color: #c1d2f6;
    color: #121212;
  }

  @media (max-width: 600px) {
    min-width: 10px;
    padding: 12px 17px;
    margin-right: 0px;
    font-size: 0.8rem;
    background-color: #fff;
    margin-bottom: 15px;
  }
}

.icon {
  margin-left: 5px;
  font-size: 0.8rem;

  @media (max-width: 600px) {
    font-size: 0.7rem;
  }
}

.telgram_con_mobile {
  width: 92%;
  margin: 0px auto;
  display: none;

  @media (max-width: 600px) {
    display: block;
  }
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  text-align: center;
  cursor: pointer;
  color: red;
}

.search_con {
  width: 100%;
  display: grid;
  grid-template-columns: 85% 15%;
  margin: 0px auto;

  @media (max-width: 600px) {
    grid-template-columns: 85% 15%;
  }
}

@mixin searchtheme() {
  height: 50px;
  font-size: 1.1rem;
  padding: 15px 20px;
  margin-top: 0px;
  margin-bottom: 20px;

  border-right: none;
  color: #0066ff;
  background-color: #fff;
  border: 0.6px solid #0066ff;

  @media (max-width: 600px) {
    padding: 12px 14px;
    font-size: 0.9rem;
    height: 45px;
    margin: 0px 0px 25px;
    width: 100%;
    background-color: #fff;
    border: 0px solid #0066ff;
  }
}

.searchcompany {
  @include searchtheme();
  border-radius: 8px 0px 0px 8px;
  border-right: none;
  align-self: center;
  &:focus {
    outline: none;
  }
}

.search_btn {
  @include searchtheme();
  align-self: center;
  border-radius: 0px 8px 8px 0px;
  padding: 12px 0px;
  cursor: pointer;
  border-left: none;

  &:hover {
    background-color: #cadbff;
  }

  @media (max-width: 768px) {
    background-color: #fff;
  }
}

.mobile_view {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.linkdatitle_mobile {
  display: none;

  @media (max-width: 600px) {
    display: block;
    font-size: 1.2em;
    margin: 14px 0px 5px 14px;
    text-align: left;
    color: #121212;
    font-weight: 600;

    .span {
      font-size: 1.2rem;
    }
  }
}
.linkda_mobile {
  display: none;

  @media (max-width: 600px) {
    // background-color: #fff;
    background-color: #f8f8f8;
    display: block;
    position: sticky;
    top: 0px;
    z-index: 0;
    padding: 6px 14px 8px;
    border-radius: 0px 0px 20px 20px;
    // box-shadow: 0px 4px 10px -2px rgba(79, 114, 205, 0.15);
  }
}

.jobdashboard_con {
  background-color: #fff;
  padding: 20px 0px 20px;
  margin-bottom: 10px;

  @media (max-width: 600px) {
    background-color: #f8f8f8;
    padding: 20px 0px 20px;
  }
}
.job_cards {
  padding: 12px 0px 0px;
}
.linkimgda_con {
  display: none;
  @media (max-width: 600px) {
    display: block;
  }
}

.title_mobile {
  display: none;

  @media (max-width: 600px) {
    width: 85%;
    display: block;
    text-align: left;
    font-size: 1.2rem;
    margin: 0px auto 8px;
    color: rgba(18, 25, 38, 1);

    @media (max-width: 340px) {
      font-size: 1rem;
      margin: 0px auto 5px;
    }
  }
}

.error_msg {
  width: 93%;
  margin: 0px auto;
  background-color: #0066ff;
  border-radius: 20px;
  padding: 20px;
  color: #fff;

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
    margin: 20px 0px;
  }

  a {
    padding: 14px;
    background-color: #fff;
    margin-top: 20px;
    display: block;
    font-weight: 600;
    border-radius: 10px;
    i {
      font-size: 1.2rem;
    }
  }

  h3 {
    color: #000;
    margin-bottom: 20px;
  }
}
