.ad_pop {
  max-width: 800px;
  margin: 100px auto 0px;
}
.adcancel {
  background-color: #fcfcfc;
  max-width: 800px;
  margin: 0px auto 0px;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.adwait {
  justify-content: center;
}
@media (max-width: 600px) {
  .ad-pop {
    max-width: 95%;
    margin: 200px auto 0px;
  }
  .adcancel {
    margin: 0px auto 0px;
  }
}
